<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuracion de Sistemas</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'icons/font/bootstrap-icons.css'%}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'jquery-3.2.1.js' %}"></script>
    <script src="{% static 'popper.js' %}"></script>


</head>

<body>
    {%include "barra.html"%}

    <div class="container mt-4">
        <div class="row">
            <div class="col-6">
                <div class="card" style="width:550px">
                    <div class="card-body">
                        <h4 class="card-title">Registro de producciones</h4>
                        <p class="card-text">
                        <ul>
                            <li><b>Cantidad de datos registrados:</b> {{prodSW|length}} </li>
                            {%for prodFISW in prodFISW%}
                            <li><b>Fecha de inicio:</b> {{prodFISW.fechaf}} </li>
                            {%endfor%}
                            {%for prodFFSW in prodFFSW%}
                            <li><b>Fecha de fin:</b> {{prodFFSW.fechaf}}</li>
                            {%endfor%}
                        </ul>
                        </p>
                        <div class="card-footer">
                            {% if prodSW|length > 0 %}
                            <button class="btn btn-danger btn-sm float-right" data-toggle="modal"
                                data-target="#inicializa">Inicializar</button>
                            {%else%}
                            <button class="btn btn-success btn-sm float-right disabled">Inicializar</button>
                            {%endif%}

                            <div class="modal fade" id="inicializa" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Se eliminaran todos los registros de la tabla de producciones, desea
                                            proceder?.
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/proddel" button type="button" class="btn btn-danger">Eliminar
                                                registros</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card" style="width:550px">
                    <div class="card-body">
                        <h4 class="card-title">Registro de tiempo perdido</h4>

                        <p class="card-text">
                        <ul>
                            <li><b>Cantidad de datos registrados:</b> {{tiemSW|length}} </li>
                            {%for tiemFISW in tiemFISW%}
                            <li><b>Fecha de inicio:</b> {{tiemFISW.fechaI}} </li>
                            {%endfor%}
                            {%for tiemFFSW in tiemFFSW%}
                            <li><b>Fecha de fin:</b> {{tiemFFSW.fechaI}}</li>
                            {%endfor%}
                        </ul>
                        </p>
                        <div class="card-footer">
                            {% if tiemSW|length > 0 %}
                            <button class="btn btn-danger btn-sm float-right" data-toggle="modal"
                                data-target="#initiempo">Inicializar</button>
                            {%else%}
                            <button class="btn btn-success btn-sm float-right disabled">Inicializar</button>
                            {%endif%}

                            <div class="modal fade" id="initiempo" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Se eliminaran todos los registros de la tabla de tiempo perdido, desea
                                            proceder?.
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/tiemdel" button type="button" class="btn btn-danger">Eliminar
                                                registros</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">

            <div class="col-6">
                <div class="card" style="width:550px">
                    <div class="card-body">
                        <h4 class="card-title">Registro de ordenes de trabajo</h4>
                        <p class="card-text">
                        <ul>
                            <li><b>Cantidad de datos registrados:</b> {{ordenesSW|length}} </li>
                            {%for ordenFISW in ordenFISW%}
                            <li><b>Fecha de inicio:</b> {{ordenFISW.fechaRep}} </li>
                            {%endfor%}
                            {%for ordenFFSW in ordenFFSW%}
                            <li><b>Fecha de fin:</b> {{ordenFFSW.fechaRep}}</li>
                            {%endfor%}
                        </ul>
                        </p>
                        <div class="card-footer">
                            {% if ordenesSW|length > 0 %}
                            <button class="btn btn-danger btn-sm float-right" data-toggle="modal"
                                data-target="#iniorden">Inicializar</button>
                            {%else%}
                            <button class="btn btn-success btn-sm float-right disabled">Inicializar</button>
                            {%endif%}

                            <div class="modal fade" id="iniorden" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Se eliminaran todos los registros de la tabla de ordenes de trabajo, desea
                                            proceder?.
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/ordendel" button type="button" class="btn btn-danger">Eliminar
                                                registros</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-6">
                <div class="card" style="width:550px">
                    <div class="card-body">
                        <h4 class="card-title">Registro de vales de materiales</h4>
                        <p class="card-text">
                        <ul>
                            <li><b>Cantidad de datos registrados:</b> {{valetSW|length}} </li>
                            {%for valeFISW in valeFISW%}
                            <li><b>Fecha de inicio:</b> {{valeFISW.fecha}} </li>
                            {%endfor%}
                            {%for valeFFSW in valeFFSW%}
                            <li><b>Fecha de fin:</b> {{valeFFSW.fecha}}</li>
                            {%endfor%}
                        </ul>
                        </p>
                        <div class="card-footer">
                            {% if valetSW|length > 0 %}
                            <button class="btn btn-danger btn-sm float-right" data-toggle="modal"
                                data-target="#inivale">Inicializar</button>
                            {%else%}
                            <button class="btn btn-danger btn-sm float-right disabled">Inicializar</button>
                            {%endif%}

                            <div class="modal fade" id="inivale" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Se eliminaran todos los registros de la tabla de vales de materiales, desea
                                            proceder?.
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/valedel" button type="button" class="btn btn-danger">Eliminar
                                                registros</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <div class="card" style="width:550px">
                    <div class="card-body">
                        <h4 class="card-title">Registro de plan de mantenimiento</h4>
                        <p class="card-text">
                        <ul>
                            <li><b>Cantidad de datos registrados:</b> {{mantpSW|length}} </li>
                        </ul>
                        </p>
                        <div class="card-footer">
                            {% if mantpSW|length > 0 %}
                            <button class="btn btn-danger btn-sm float-right" data-toggle="modal"
                                data-target="#iniplanm">Inicializar</button>
                            {%else%}
                            <button class="btn btn-success btn-sm float-right disabled">Inicializar</button>
                            {%endif%}

                            <div class="modal fade" id="iniplanm" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Se eliminaran todos los registros de la tabla del plan de mantenimiento,
                                            desea
                                            proceder?.
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/mantpdel" button type="button" class="btn btn-danger">Eliminar
                                                registros</a>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


</body>

</html>