<http>
    <title></title>
    
    {% load static %}
    
    <script src="{% static 'jquery-3.2.1.js' %}"></script>
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'icons/font/bootstrap-icons.css'%}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'popper.js' %}"></script> 
    <script src="{% static 'chart.js'%}"></script>
    
    

<body>  
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
 <!--Brand--> 

 <a class="navbar-brand" href="/">
  <img src="{% static 'icons/archive.svg'%}" width="30" height="30" class="d-inline-block align-top" alt="">
  Offimant
</a>


   
 <!--Toggler/collapsibe Button--> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>
  <!--Navbar links--> 
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Produccion
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/indexprod/index/0">Producciones</a>
        <a class="dropdown-item" href="#">Tiempo perdido</a>
        <!--<div class="dropdown-divider"></div>-->
      </div>
     </li>      
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mantenimiento
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/ordenes">Ordenes de trabajo</a>
        <a class="dropdown-item" href="/listmant">Plan de Mantenimiento</a>
        <!--<div class="dropdown-divider"></div>-->
        
      </div>
     </li> 
     <li class="nav-item">
      <a class="nav-link" href="/codvales/index/0">Materiales</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="/codunidad/index/0">Codificadores</a>
     </li>
    </ul>
    
   </div>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control mr-sm-2" type="text"placeholder="Elemento a buscar" name="">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>

</nav> 



</body>  
</http>