<html>
<title></title>

{% load static %}
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'icons/font/bootstrap-icons.css'%}" rel="stylesheet">
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'jquery-3.2.1.js' %}"></script>
<script src="{% static 'popper.js' %}"></script> 
<script src="{% static 'Chart.js'%}"></script>
<link href="{% static 'icons/font/bootstrap-icons.css'%}" rel="stylesheet">



<body>

    
<div class="container mt-1 ">
    
 {%include "barra.html"%}
</div>

<div class="container mt-2">
  
  <div class="container mt-3 ">

  
   <div class="row">
    <div class="col-8">
    <div class="row">    
    <div class="col-6">
      <table class="table table-striped table-hover table-sm">
        <thead class="thead-dark">
        <tr>
          <th>Producciones</th>
          <th>Unidad</th>
          <th>Total</th>
        </tr>  
        </thead>
        <tbody>
         {%for listpro in listpro%}
         <tr class="table-bordered">
          <th>{{listpro.descripcion}}</th>
          <th>{{listpro.unidad}}</th>
          <th>{{listpro.prosu}}</th>
         </tr>
         {%endfor%} 
        </tbody>
      </table>
      <a href="/indexprod/index/0" button type="button" class="btn btn-primary"><i class="bi bi-box-seam"></i> Producciones</a>
      
    </div>
    <div class="col-6 ">
       <canvas id="myChart" height="200" with="400"></canvas>
   </div>
  </div>
  



    <div class="row mt-2">
      <div class="col-12">
       <table class="table table-striped table-hover table-sm">
        <thead class="thead-dark">
          <tr>
           <th class="col-1">Codigo</th>
           <th class="col-2">Fecha</th>
           <th class="col-4">Resumen</th>
           <th class="col-1">Terminada</th>
          </tr>
        </thead >
        <tbody>
         {%for listord in listord%}
          {% if listord.culminada == "No"%} 
           <tr class="table-primary table-bordered">
         {%else%}
           <tr class="table-bordered">
         {%endif%}
          {%if listord.campa|length > 0 %}   
            <td>{{listord.codigo}} {{listord.campa}}</td>
          {%else%}
          <td>{{listord.codigo}}</td>
          {%endif%}  
            <td>{{listord.fechaRep}}</td>
            <td>{{listord.falla}}</td>
            <td class="text-center">{{listord.culminada}}</td>
           </tr>
         {%endfor%}
        </tbody>
       </table>  
        <a href="/ordenes" button type="button" class="btn btn-primary"><i class="bi bi-wrench-adjustable"></i> Ordenes de trabajo</a>
      </div>
    </div>   
 
    </div>
    <div class="col-4">
      <table class="table table-striped table-hover table-sm">
        <thead class="thead-dark">
        <tr>
          <th>Centro de Costo</th>
          <th class="col-4">Total de vales</th>
        </tr>  
        </thead>
        <tbody>
         {%for listv in listv%}
         <tr class="table-bordered">
          <th>{{listv.costo}}</th>
          <th class="text-center">{{listv.cant}}</th>
         </tr>
         {%endfor%} 
        </tbody>
      </table>
      <a href="/codvales/index/0" button type="button" class="btn btn-primary"><i class="bi bi-newspaper"></i> Materiales</a>
      <div class="btn-group">
        <a href="/consolmat" button type="button" class="btn btn-success"><i class="bi bi-boxes"></i> Consolidado Mat.</button></a>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
        {%for listcentrosw in listcentrosw%}
        <a class="dropdown-item" href="consolspe/{{listcentrosw.descripcion}}">{{listcentrosw.descripcion}}</a>
        {%endfor%}  
        </div>
      </div>

    </div>
   </div>
   <!--<div class="row">
     <div class="col-6">
       <canvas id="myChart" height="200" with="400"></canvas>
      </div> 
   </div>-->
  </div>
</div>
</body>

<script>
  var ctx = document.getElementById("myChart").getContext("2d");
  var myChart = new Chart(ctx,{
    type:"pie",
    data:{
      labels:{{ datosPT|safe }}.map(item => item.descripcion),
      datasets:[{
           label:'Num de datos',
           data:{{ datosPT|safe }}.map(item => item.prosu),
           backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
                ],
      }]
    }
  });
</script>

</html>