<html>
<title></title>

{% load static %}
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'icons/font/bootstrap-icons.css'%}" rel="stylesheet">
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'jquery-3.2.1.js' %}"></script>
<script src="{% static 'popper.js' %}"></script> 
<script src="{% static 'chart.js'%}"></script>

<link href="{% static 'icons/font/bootstrap-icons.css'%}" rel="stylesheet">
<body>

    
<div class="container mt-1 ">
    
 {%include "barra.html"%}
</div>

<div class="container mt-2">
  
  <div class="container mt-3 ">

  
   <div class="row">
    <div class="col-8">
    <div class="row">    
    <div class="col-6">
      <table class="table table-striped table-hover table-sm">
        <thead class="thead-dark">
        <tr>
          <th>Producciones</th>
          <th>Unidad</th>
          <th>Total</th>
        </tr>  
        </thead>
        <tbody>
         {%for listpro in listpro%}
         <tr class="table-bordered">
          <th>{{listpro.descripcion}}</th>
          <th>{{listpro.unidad}}</th>
          <th>{{listpro.prosu}}</th>
         </tr>
         {%endfor%} 
        </tbody>
      </table>
      <a href="/indexprod/index/0" button type="button" class="btn btn-primary"><i class="bi bi-box-seam"></i> Producciones</a>
      
    </div>
    <div class="col-3 "> 
   </div>
  </div>
  



    <div class="row mt-2">
      <div class="col-12">
       <table class="table table-striped table-hover table-sm">
        <thead class="thead-dark">
          <tr>
           <th class="col-1">Codigo</th>
           <th class="col-2">Fecha</th>
           <th class="col-4">Resumen</th>
           <th class="col-1">Terminada</th>
          </tr>
        </thead >
        <tbody>
         {%for listord in listord%}
          {% if listord.culminada == "No"%} 
           <tr class="table-primary table-bordered">
         {%else%}
           <tr class="table-bordered">
         {%endif%}   
            <td>{{listord.codigo}}</td>
            <td>{{listord.fechaRep}}</td>
            <td>{{listord.falla}}</td>
            <td class="text-center">{{listord.culminada}}</td>
           </tr>
         {%endfor%}
        </tbody>
       </table>  
        <a href="/ordenes" button type="button" class="btn btn-primary"><i class="bi bi-wrench-adjustable"></i> Ordenes de trabajo</a>
      </div>
    </div>   
 
    </div>
    <div class="col-4">
      <table class="table table-striped table-hover table-sm">
        <thead class="thead-dark">
        <tr>
          <th>Centro de Costo</th>
          <th class="col-4">Total de vales</th>
        </tr>  
        </thead>
        <tbody>
         {%for listv in listv%}
         <tr class="table-bordered">
          <th>{{listv.costo}}</th>
          <th class="text-center">{{listv.cant}}</th>
         </tr>
         {%endfor%} 
        </tbody>
      </table>
      <a href="/codvales/index/0" button type="button" class="btn btn-primary"><i class="bi bi-newspaper"></i> Control de vales</a>
      <a href="/consolmat" button type="button" class="btn btn-success"><i class="bi bi-boxes"></i> Consolidado mat.</a>

    </div>
   </div>
   <div class="row">
       <canvas id="chBar" height="400" with="400"></canvas>
   </div>
  </div>
</div>


<script type="text/javascript">
  var chBar = document.getElementById("chBar");
  var chartData = {
  labels: ["S", "M", "T", "W", "T", "F", "S"],
     datasets: [{data: [589, 445, 483, 503, 689, 692, 634],backgroundColor: colors[0]},
                {data: [209, 245, 383, 403, 589, 692, 580],backgroundColor: colors[1]},
                {data: [489, 135, 483, 290, 189, 603, 600],backgroundColor: colors[2]},
                {data: [639, 465, 493, 478, 589, 632, 674],backgroundColor: colors[4]}]};
  if (chBar) 
  {new Chart(chBar,
     {type: 'bar',
      data: chartData,
      options: {
      scales: {
      xAxes: [{barPercentage: 0.4,
               categoryPercentage: 0.5}],
      yAxes: [{ticks: {beginAtZero: false}}]
              },
    legend: {display: false}}});
   }
</script>


</body>


</html>