<html>
<title></title>

{% load static %}

<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'icons/font/bootstrap-icons.css'%}" rel="stylesheet">
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'jquery-3.2.1.js' %}"></script>
<script src="{% static 'popper.js' %}"></script> 


<body>

    
<div class="container mt-1 ">
    
 {%include "barra.html"%}
</div>
 <div class="container mt-2">

  
  
    
   

  <div class="container mt-2 ">
   <div class="container">
    <div class="row">
    <div class="col-8">
    
    <form  action="/codmaterialadd/{{valessw.id}}/{{pagesw}}" method="get">
     <div class="row">
      
       <div class="col-9 ml-4 mt-4 "> 
         Descripción: {{form.Material}}
       </div>
       
       <div class="col-2">
        <div class="row mt-4" ></div>
        <div class="col-1"></div> 
        <div class="row">
 
        <input type="submit"  class="btn btn-success btn-sm float-rigth" value="Adicionar">
         
        </div>
       </div>
     </div>

   <div class="row mt-4">
    <div class="col-3 ml-4 "> 
        Unidad: {{form.Unidad}}
    </div>
    <div class="col-6 ">     
        Cantidad: {{form.Cantidad}}
    </div>
     
   <!-- <div class="col-1"></div>

    <div class="col-3  ">
      <div class="row mt-2" ></div>
      <div class="col-3"></div> 
      <div class="row">
       <div class="col-3">
        <a href="/codvales/index/0" button type="button" class="btn btn-danger btn-sm">Cancelar  </a>
       </div>
      </div>
     </div> -->


   </div>
   
   

    </form> 
    
   
<!--
    
    <form  action="/codvalesupdate/{{dato}}/{{listpsw.number}}" method="get">
      <div class="row">
        <div class="col-3 ml-4 "> 
          
        </div>
        <div class="col-3"> 
          
        </div>
        <div class="col-3">     
         
        </div>
        <div class="col-2">
         <div class="row mt-4" ></div>
         <div class="col-1"></div> 
         <div class="row">
  
         <input type="submit"  class="btn btn-success btn-sm float-rigth" value="Actualizar">
          
         </div>
        </div>
      </div>
 
    <div class="row mt-2 mb-2">
     <div class="col-4 ml-4 "> 
         
     </div>
     <div class="col-3 ">     
        
     </div>

     <div class="col-2"></div>
 
     <div class="col-1">
       <div class="row mt-2" ></div>
       <div class="col-1"></div> 
       <div class="row">
        <a href="/codvales/index/0/?page={{listpsw.number}}" button type="button" class="btn btn-danger btn-sm"> Cancelar  </a>
       </div>
      </div>
 
 
    </div>
    
    
 
     </form> 

     

-->

    </div>
    <div class="col-4">
     <div class="row mt-1">
      <div class="col-4"></div>
     </div>
     <table class="table table-striped table-hover table-sm">
     <tr>   
     <td class="col-6">Vale codigo:</td> <td>{{valessw.codigo}}</td>
    </tr>
    <tr> 
      <td class="col-6">Almacen:</td> <td>{{valessw.almacen}}</td>
    </tr>
    <tr>
     <td class="col-6">Centro de Costo:</td> <td>{{valessw.costo}}</td>   
    </tr>
    <tr> 
     <td class="col-6">Solicitante:</td> <td>{{valessw.entregado}}</td>
    </tr>
    <tr>
     <td class="col-6">Fecha:</td> <td>{{valessw.fecha}}</td> 
    </tr>
    </table>
    </div>
  </div> 
    </div>



    
    
    <div class="row">


      <div class="container">
        <div class="row">
        <div class="col-md-5">{%include "paginador.html"%}</div>
        <div class="col md-10">
          <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myViewC"><i class="bi bi-boxes"></i> Consolidado de materiales</button>
          
          <div class="modal fade" id="myViewC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="exampleModalLabel">Listado de materiales capturados</h6>
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                  <table class="table table-striped table-hover table-sm">
                    <thead class="thead-dark">
                     <tr class="table-primary">
                      <td>Descripcion</td>
                      <td class="text-center">Unidad</td>
                     </tr>
                    </thead>
                    <tbody>  
                     {%for consolsw in consolsw%}
                     <tr>
                      <td>{{consolsw.material}}</td>
                      <td class="text-center">{{consolsw.unidad}}</td>
                     </tr> 
                     {%endfor%}
                    </tbody> 
                  </table>
                </div>
                <div class="modal-footer">
                 <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>

          <a href="/codvales/index/0?page={{pagesw}}" button type="button" class="btn btn-primary btn-sm"><i class="bi bi-backspace-fill"> Vale codigo:  {{valessw.codigo}}</i> <span class="badge badge-light">{{materialbot|length}}</span></a>        
        </div>  
       
      </div>
    </div>
       
    
        
      <!--  <div class="col-md-4">
        {%if vistasw == 'index'%} 
         <form  action="/codvalesadd" method="get">
           <div class="imput-group mb-3 mt-1">
            <table>
             {{form.as_table}}  
            </table>
           </div>
   
           <div class="row">
             <div class="col-md-7">
              </div>
              <div class="col-md-1">
              <input type="submit"  class="btn btn-success btn-sm" value="Adicionar">
             </div>
           </div>
             
   
         </form>  
        {%else%}
         <form  action="/codvalesupdate/{{dato}}" method="get">
          <div class="imput-group mb-3 mt-1">
           <table>
            {{form.as_table}}  
           </table>
          </div>
  
          <div class="row">
           <div class="col-md-4">
           </div>
           <div class="col-md-3">    
             <a href="/codvales/index/0" button type="button" class="btn btn-danger btn-sm">Cancelar</a>
           </div>
           <div class="col-md-1">
            <input type="submit"  class="btn btn-success btn-sm" value="Actualizar">
           </div>
         </div>
        </form>
        {%endif%}
       
     </div> -->
   
 
   <div class="col-md-10 mt-1">
    
    <table class="table table-striped table-hover table-sm"> 
      <thead class="thead-dark">
       <tr>  
        <th class="col-sm-8">Descripción</th>
        <th class="col-sm-1 text-center">Unidad</th>
        <th class="col-sm-1 text-center">Cantidad</th>
        <th></th>
      </tr>
      </thead>
 
      <tbody>
      {%for materialsw in materialsw%} 
       <tr> 
       <td class="col-sm-6">{{materialsw.material}}</td>
       <td class="col-sm-2 text-center">{{materialsw.unidad}}</td>
       <td class="col-sm-2 text-center">{{materialsw.cantidad}}</td>
       <!--<td class="text-center"><a href="/codmaterialdel/{{materialsw.id}}/{{valessw.id}}/{{pagesw}}" button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a></td>-->
       <td><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal" data-mate="{{materialsw.material}}" data-id="{{materialsw.id}}" data-valeid="{{valessw.id}}" data-page="{{pagesw}}"><i class="bi bi-trash"></i></a></button></td>
      
       <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="exampleModalLabel">Materiales</h6>
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              
            </div>
            
            <div class="modal-body">
             Decea eliminar la orden de producción
            </div>
            <div class="modal-footer">
              <!--<button id="id_del" type="button"  class="btn btn-danger"></button>-->
              <div id="id_del"></div>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
              
            </div>
          </div>
        </div>
      </div>
      
      
      </tr>
      {%endfor%}

      <script>

        $('#myModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget)
          var id = button.data('id')
          var valeid=button.data('valeid')
          var page=button.data('page')
          var mate=button.data('mate')
          var modal = $(this)
          //modal.find('.modal-title').text('New message to ' + id)
          modal.find('.modal-body').text('¿ Decea elminar el material. '+mate+' ?')
          document.getElementById('id_del').innerHTML = "<a href=/codmaterialdel/"+id+"/"+valeid+"/"+page+" button type='button' class='btn btn-danger' >Eliminar</a>"
        })
        </script>
      




     </tbody>
     </table>
     
     
    </div>
  </div>   
  </div>
 </div>
 </div>
 </body>
 </html>