<html>
<title></title>
{% load static %}
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'icons/font/bootstrap-icons.css'%}" rel="stylesheet">
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'jquery-3.2.1.js' %}"></script>
<script src="{% static 'popper.js' %}"></script> 

<div class="container mt-1 ">

  {%include "barra.html"%}

  


  <div class="container mt-1">
    
    <div class="row">
      
     
      {%if vistasw == 'index'%}
      <form action="/mantadd" method="get">

      <hr>

     <div class="row">
     <div class="col-6 ">
        <table border="0">
      
          <tr>
            <th class="col-2">Codígo: {{form.codigof}}</th><th class="col-5">Area: {{form.areaf}}</th>
            
            
          </tr>
         
        </table> 
    
      </p>
        
      <table border="0">
          
        <tr>
        <th class="col-3 text-left">Tarea:<textarea name="tareaf" rows="8" cols="55"></textarea></th>
       
        </tr>
        
       </table>
      
      </p>

    </div>

    <div class="col-6 ">
<table border="0">
  <tr><th></th></tr>
      <tr>
        <th class="col-6 text-center">Planificación de la tarea por meces</th> 
      </tr>
  <tr><th></th></tr>    
</table> 
</p>  

      <table class="table  table-hover">
         
        <tr>
          <th class="col-1">Enero:</th> <th class="col-1"> {{form.enerof}}</th> 
          <th class="col-1">Febrero:</th> <th class="col-1">{{form.febrerof}}</th>
          <th class="col-1">Marzo:</th> <th class="col-1">{{form.marzof}}</th>
        </tr>
        <tr>  
          <th class="col-1">Abril:</th> <th class="col-1">{{form.abrilf}}</th>
          <th class="col-1">Mayo:</th> <th class="col-1">{{form.mayof}}</th>
          <th class="col-1">Junio:</th> <th class="col-1">{{form.juniof}}</th>
        </tr>
        <tr>  
          <th class="col-1">Julio:</th> <th class="col-1">{{form.juliof}}</th>
          <th class="col-1">Agosto:</th> <th class="col-1">{{form.agostof}}</th>
          <th class="col-1">Septiembre:</th> <th class="col-1">{{form.septiembref}}</th>
        </tr>
        <tr>  
          <th class="col-1">Octubre:</th> <th class="col-1">{{form.octubref}}</th>
          <th class="col-1">Noviembre:</th> <th class="col-1">{{form.noviembref}}</th> 
          <th class="col-1">Diciembre:</th> <th class="col-1">{{form.diciembref}}</th>
        </tr>
        
       </table>
      </div>
       
      </div>

     <hr>
    
        <div class="row mt-2">
          <div class="col-md-9">
          </div>

          <div class="col-md-1">
            <input type="submit" class="btn btn-success btn-sm" value="Adicionar">
          </div>
          <div class="col-md-1">
            <a href="/listmant" button type="button" class="btn btn-danger btn-sm">Cancelar</a>
          </div>
        </div>
        </form>

      {%else%}  

      <form action="/mantupdate/{{dato}}/{{pagesw}}" method="get">

        <hr>
  
       <div class="row">
       <div class="col-6 ">
          <table border="0">
        
            <tr>
              <th class="col-2">Codígo: {{form.codigof}}</th><th class="col-5">Area: {{form.areaf}}</th>
              
              
            </tr>
           
          </table> 
      
        </p>
          
        <table border="0">
            
          <tr>
          <th class="col-3 text-left">Tarea:<textarea name="tareaf" rows="8" cols="55">{{tareasw}}</textarea></th>
         
          </tr>
          
         </table>
        
        </p>
  
      </div>
  
      <div class="col-6 ">
  <table border="0">
    <tr><th></th></tr>
        <tr>
          <th class="col-6 text-center">Planificación de la tarea por meces</th> 
        </tr>
    <tr><th></th></tr>    
  </table> 
  </p>  
  
        <table class="table  table-hover">
           
          <tr>
            <th class="col-1">Enero:</th> <th class="col-1"> {{form.enerof}}</th> 
            <th class="col-1">Febrero:</th> <th class="col-1">{{form.febrerof}}</th>
            <th class="col-1">Marzo:</th> <th class="col-1">{{form.marzof}}</th>
          </tr>
          <tr>  
            <th class="col-1">Abril:</th> <th class="col-1">{{form.abrilf}}</th>
            <th class="col-1">Mayo:</th> <th class="col-1">{{form.mayof}}</th>
            <th class="col-1">Junio:</th> <th class="col-1">{{form.juniof}}</th>
          </tr>
          <tr>  
            <th class="col-1">Julio:</th> <th class="col-1">{{form.juliof}}</th>
            <th class="col-1">Agosto:</th> <th class="col-1">{{form.agostof}}</th>
            <th class="col-1">Septiembre:</th> <th class="col-1">{{form.septiembref}}</th>
          </tr>
          <tr>  
            <th class="col-1">Octubre:</th> <th class="col-1">{{form.octubref}}</th>
            <th class="col-1">Noviembre:</th> <th class="col-1">{{form.noviembref}}</th> 
            <th class="col-1">Diciembre:</th> <th class="col-1">{{form.diciembref}}</th>
          </tr>
          
         </table>
        </div>
         
        </div>
  
       <hr>
      
          <div class="row mt-2">
            <div class="col-md-9">
            </div>
  
            <div class="col-md-1">
              <input type="submit" class="btn btn-success btn-sm" value="Actualizar">
            </div>
            <div class="col-md-1">
              <a href="/listmant" button type="button" class="btn btn-danger btn-sm">Cancelar</a>
            </div>
          </div>
          </form>
   {%endif%}

        </div>
      
    </div>
  </div>


</div>


<body>
</body>

</html>