<html>
<title></title>
{% load static %}
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'icons/font/bootstrap-icons.css'%}" rel="stylesheet">
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'jquery-3.2.1.js' %}"></script>
<script src="{% static 'popper.js' %}"></script> 


<body>

  <div class="container mt-1 ">

    {%include "barra.html"%}
  
    <div class="container mt-3">
      <div class="row">
        <div class="col-5">
          <a href="/adicionarmant/index/0/0" button type="button" class="btn btn-primary"><i class="bi bi-newspaper"></i> Nueva tarea de mantenimiento</a>
          <a href="/ordenimpcont" button type="button" class="btn btn-primary"><i class="bi bi-printer"></i> Imprimir</a>
        </div>
        
        <div class="col-6">
          {%include "paginador.html"%} 
        </div>
        </div>
    <div class="row">
    <div class="col-6 ml-2"><span class="badge badge-success">C:</span> Cumplido  <span class="badge badge-danger">I:</span> Incumplido  <span class="badge badge-info">EP:</span> En proceso  <span class="badge badge-warning">FF:</span> Fuera de fecha</div>  
    </div>    
    <div class="row">
      <div class="col-md-12 mt-1">

        <table class="table  table-hover table-sm"> 
          <thead class="thead-dark">
            <tr>
              <th>Codigo</th>
              <th class="col-sm-3">Area</th>
              <th class="col-sm-4">Tarea</th>
              <th class="text-center">Ene</th>
              <th class="text-center">Feb</th>
              <th class="text-center">Mar</th>
              <th class="text-center">Abr</th>
              <th class="text-center">May</th>
              <th class="text-center">Jun</th>
              <th class="text-center">Jul</th>
              <th class="text-center">Ago</th>
              <th class="text-center">Sep</th>
              <th class="text-center">Oct</th>
              <th class="text-center">Nov</th>
              <th class="text-center">Dic</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
             
            </tr>
          </thead>
          <tbody>
           {% for mantsw in mantsw%} 
             <tr>
             <td class="text-center">{{mantsw.codigo}}</td>
              <td>{{mantsw.area}}</td>
             <td>{{mantsw.tarea}}</td>
             
             <td class="table-bordered {%if mantsw.eneroP == 'X'%} table-primary {%endif%} text-center">
              {%if mantsw.eneroR == "C" %}
              <span class="badge badge-success">{{mantsw.eneroR}}</span>
              {%endif%}
              {%if mantsw.eneroR == "I" %}
              <span class="badge badge-danger">{{mantsw.eneroR}}</span>
              {%endif%}
              {%if mantsw.eneroR == "EP" %}
              <span class="badge badge-info">{{mantsw.eneroR}}</span>
              {%endif%}
              {%if mantsw.eneroR == "FF" %}
              <span class="badge badge-warning">{{mantsw.eneroR}}</span>
              {%endif%}
             </td>
             <td class="table-bordered {%if mantsw.febreroP == 'X'%} table-primary {%endif%} text-center">
              {%if mantsw.febreroR == "C" %}
              <span class="badge badge-success">{{mantsw.febreroR}}</span>
              {%endif%}
              {%if mantsw.febreroR == "I" %}
              <span class="badge badge-danger">{{mantsw.febreroR}}</span>
              {%endif%}
              {%if mantsw.febreroR == "EP" %}
              <span class="badge badge-info">{{mantsw.febreroR}}</span>
              {%endif%}
              {%if mantsw.febreroR == "FF" %}
              <span class="badge badge-warning">{{mantsw.febreroR}}</span>
              {%endif%}
            </td>
             <td class="table-bordered {%if mantsw.marzoP == 'X'%} table-primary {%endif%} text-center">
              {%if mantsw.marzoR == "C" %}
              <span class="badge badge-success">{{mantsw.marzoR}}</span>
              {%endif%}
              {%if mantsw.marzoR == "I" %}
              <span class="badge badge-danger">{{mantsw.marzoR}}</span>
              {%endif%}
              {%if mantsw.marzoR == "EP" %}
              <span class="badge badge-info">{{mantsw.marzoR}}</span>
              {%endif%}
              {%if mantsw.marzoR == "FF" %}
              <span class="badge badge-warning">{{mantsw.marzoR}}</span>
              {%endif%}
             </td>
             <td class="table-bordered {%if mantsw.abrilP == 'X'%} table-primary {%endif%} text-center">
              {%if mantsw.abrilR == "C" %}
              <span class="badge badge-success">{{mantsw.abrilR}}</span>
              {%endif%}
              {%if mantsw.abrilR == "I" %}
              <span class="badge badge-danger">{{mantsw.abrilR}}</span>
              {%endif%}
              {%if mantsw.abrilR == "EP" %}
              <span class="badge badge-info">{{mantsw.abrilR}}</span>
              {%endif%}
              {%if mantsw.abrilR == "FF" %}
              <span class="badge badge-warning">{{mantsw.abrilR}}</span>
              {%endif%}
             </td>
             <td class="table-bordered {%if mantsw.mayoP == 'X'%} table-primary {%endif%} text-center">
              {%if mantsw.mayoR == "C" %}
              <span class="badge badge-success">{{mantsw.mayoR}}</span>
              {%endif%}
              {%if mantsw.mayoR == "I" %}
              <span class="badge badge-danger">{{mantsw.mayoR}}</span>
              {%endif%}
              {%if mantsw.mayoR == "EP" %}
              <span class="badge badge-info">{{mantsw.mayoR}}</span>
              {%endif%}
              {%if mantsw.mayoR == "FF" %}
              <span class="badge badge-warning">{{mantsw.mayoR}}</span>
              {%endif%}
             </td>
             <td class="table-bordered {%if mantsw.junioP == 'X'%} table-primary {%endif%} text-center">
              {%if mantsw.junioR == "C" %}
              <span class="badge badge-success">{{mantsw.junioR}}</span>
              {%endif%}
              {%if mantsw.junioR == "I" %}
              <span class="badge badge-danger">{{mantsw.junioR}}</span>
              {%endif%}
              {%if mantsw.junioR == "EP" %}
              <span class="badge badge-info">{{mantsw.junioR}}</span>
              {%endif%}
              {%if mantsw.junioR == "FF" %}
              <span class="badge badge-warning">{{mantsw.junioR}}</span>
              {%endif%}
             </td>
             <td class="table-bordered {%if mantsw.julioP == 'X'%} table-primary {%endif%} text-center">
              {%if mantsw.julioR == "C" %}
              <span class="badge badge-success">{{mantsw.julioR}}</span>
              {%endif%}
              {%if mantsw.julioR == "I" %}
              <span class="badge badge-danger">{{mantsw.julioR}}</span>
              {%endif%}
              {%if mantsw.julioR == "EP" %}
              <span class="badge badge-info">{{mantsw.julioR}}</span>
              {%endif%}
              {%if mantsw.julioR == "FF" %}
              <span class="badge badge-warning">{{mantsw.julioR}}</span>
              {%endif%}
             </td>
             <td class="table-bordered {%if mantsw.agostoP == 'X'%} table-primary {%endif%} text-center">
              {%if mantsw.agostoR == "C" %}
              <span class="badge badge-success">{{mantsw.agostoR}}</span>
              {%endif%}
              {%if mantsw.agostoR == "I" %}
              <span class="badge badge-danger">{{mantsw.agostoR}}</span>
              {%endif%}
              {%if mantsw.agostoR == "EP" %}
              <span class="badge badge-info">{{mantsw.agostoR}}</span>
              {%endif%}
              {%if mantsw.agostoR == "FF" %}
              <span class="badge badge-warning">{{mantsw.agostoR}}</span>
              {%endif%}
             </td>
             <td class="table-bordered {%if mantsw.septiembreP == 'X'%} table-primary {%endif%} text-center">
              {%if mantsw.septiembreR == "C" %}
              <span class="badge badge-success">{{mantsw.septiembreR}}</span>
              {%endif%}
              {%if mantsw.septiembreR == "I" %}
              <span class="badge badge-danger">{{mantsw.septiembreR}}</span>
              {%endif%}
              {%if mantsw.septiembreR == "EP" %}
              <span class="badge badge-info">{{mantsw.septiembreR}}</span>
              {%endif%}
              {%if mantsw.septiembreR == "FF" %}
              <span class="badge badge-warning">{{mantsw.septiembreR}}</span>
              {%endif%}
             </td>
             <td class="table-bordered {%if mantsw.octubreP == 'X'%} table-primary {%endif%} text-center">
              {%if mantsw.octubreR == "C" %}
              <span class="badge badge-success">{{mantsw.octubreR}}</span>
              {%endif%}
              {%if mantsw.octubreR == "I" %}
              <span class="badge badge-danger">{{mantsw.octubreR}}</span>
              {%endif%}
              {%if mantsw.octubreR == "EP" %}
              <span class="badge badge-info">{{mantsw.octubreR}}</span>
              {%endif%}
              {%if mantsw.octubreR == "FF" %}
              <span class="badge badge-warning">{{mantsw.octubreR}}</span>
              {%endif%}
             </td>
             <td class="table-bordered {%if mantsw.noviembreP == 'X'%} table-primary {%endif%} text-center">
              {%if mantsw.noviembreR == "C" %}
              <span class="badge badge-success">{{mantsw.noviembreR}}</span>
              {%endif%}
              {%if mantsw.noviembreR == "I" %}
              <span class="badge badge-danger">{{mantsw.noviembreR}}</span>
              {%endif%}
              {%if mantsw.noviembreR == "EP" %}
              <span class="badge badge-info">{{mantsw.noviembreR}}</span>
              {%endif%}
              {%if mantsw.noviembreR == "FF" %}
              <span class="badge badge-warning">{{mantsw.noviembreR}}</span>
              {%endif%}
             </td>
             <td class="table-bordered {%if mantsw.diciembreP == 'X'%} table-primary {%endif%} text-center">
              {%if mantsw.diciembreR == "C" %}
              <span class="badge badge-success">{{mantsw.diciembreR}}</span>
              {%endif%}
              {%if mantsw.diciembreR == "I" %}
              <span class="badge badge-danger">{{mantsw.diciembreR}}</span>
              {%endif%}
              {%if mantsw.diciembreR == "EP" %}
              <span class="badge badge-info">{{mantsw.diciembreR}}</span>
              {%endif%}
              {%if mantsw.diciembreR == "FF" %}
              <span class="badge badge-warning">{{mantsw.diciembreR}}</span>
              {%endif%}
             </td>
             <td class="text-center"><a href="estadomant/{{mantsw.id}}/{{listpsw.number}}" button type="button" class="btn btn-primary btn-sm"><i class="bi bi-tools"></i></a></td>
             <td class="text-center"><a href="adicionarmant/edit/{{mantsw.id}}/{{listpsw.number}}" button type="button" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></a></td>
             <!--<td class="text-center"><a href="mantdel/{{mantsw.id}}" button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a></td>-->
             <td><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal" data-id="{{mantsw.id}}" data-codigo="{{mantsw.codigo}}"><i class="bi bi-trash"></i></a></button></td>

             <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Plan de mantenimiento</h6>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    
                  </div>
                  
                  <div class="modal-body">
                   Decea eliminar la orden de producción
                  </div>
                  <div class="modal-footer">
                    <button id="id_del" type="button"  class="btn btn-danger"></button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    
                  </div>
                </div>
              </div>
            </div>





            </tr>
           {%endfor%}
          </tbody>
        </table>
    </div>
    
  </div>
</div>
</div>
</div>
<script>
 $('#myModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var id = button.data('id')
    var codigo=button.data('codigo')
    var modal = $(this)
    //modal.find('.modal-title').text('New message to ' + id)
    modal.find('.modal-body').text('¿ Decea elminar el plan de mantenimiento codigo. '+codigo+' ?')
    document.getElementById('id_del').innerHTML = "<a href=/mantdel/"+id+">Eliminar</button>"
  })
  </script>



</body>


</html>