<html>
<title></title>
{% load static %}
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'icons/font/bootstrap-icons.css'%}" rel="stylesheet">
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'jquery-3.2.1.js' %}"></script>
<script src="{% static 'popper.js' %}"></script> 

<div class="container mt-1 ">
    
    {%include "barra.html"%}

    <div class="container mt-4">
      <div class="row mt-4"></div>
      <div class="row mt-4"></div>
    </div>

    <div class="container mt-3">
      <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3"> {%include "paginador.html"%}</div> 
      <div class="col-md-3"> 
       <a href="/indexprod/index/0?page={{pagesw}}" button type="button" class="btn btn-primary btn-sm float-right"><i class="bi bi-backspace-fill"> {{prodsw.codigo}}-{{prodsw.descripcion}} ({{prodsw.fechaf}})</i></a>
      </div>
      </div>
    </div>  




  <div class="container mt-2">
    <div class="container">
      <div class="row">
      <div class="col-3">
     <form  action="/codmateadd/{{datosw}}/{{pagesw}}" method="get">
       <div class="row">
        <div class="col-4 ml-4 "> 
           Vale #: {{form.Novale}}
         </div>
        </div>
                
      <div class="col-9 mt-2 ml-2"> 
      <input type="submit"  class="btn btn-success btn-sm float-rigth" value="Adicionar">
      </div>
     
    </form> 
  </div>
        <div class="col-md-9">
            {%include "paginador.html"%} 
          <table class="table table-striped table-hover table-sm"> 
            <thead class="thead-dark">
             <tr>  
              <th class="col-sm-1 text-center">Vale</th>
              <th class="col-sm-3">Almacen</th>
              <th class="col-sm-2">Costo</th>
              <th class="col-sm-3">Entregado</th>
              <th class="col-sm-2">Fecha</th>
              <th ></th>
            </tr>
            </thead>

          <tbody> 
           {%for matesw in matesw%}
           <tr>
            <td class="col-sm-1 text-center"><a href="/codmaterialorden/{{matesw.novale}}/0/{{retrosw}}">{{matesw.novale}}</a></td>
            <td class="col-sm-3">{{matesw.almacen}}</td>
            <td class="col-sm-2">{{matesw.costo}}</td>
            <td class="col-sm-3">{{matesw.entregado}}</td>
            <td class="col-sm-2 text-rigth">{{matesw.fecha}}</td>
            <td><a href="/codmatedel/{{matesw.id}}/{{datosw}}/{{pagesw}}" button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a></td>
            </tr>
           {%endfor%}
          </tbody>  
          </table>      

        </div>  


      </div> 
    </div>
  </div>

</div>    


<body>
</body>
</html>    