<html>
<title></title>
{% load static %}
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'jquery-3.6.3.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'icons/font/bootstrap-icons.css'%}" rel="stylesheet">


<body>

  <div class="container mt-1 ">

    {%include "barra.html"%}
  
    <div class="container mt-3">
      <div class="row">
        <div class="col-5">
          <a href="/ordenesnew/index/0/1" button type="button" class="btn btn-primary"><i class="bi bi-newspaper"></i> Nueva orden de trabajo</a>
          <a href="/ordenimpcont" button type="button" class="btn btn-primary"><i class="bi bi-printer"></i> Imprimir</a>
        </div>
        
        <div class="col-6">
          {%include "paginador.html"%} 
        </div>
        </div>
    <div class="row">
      <div class="col-md-12 mt-1">

        <table class="table table-striped table-hover table-sm"> 
          <thead class="thead-dark">
            <tr>
              <th class="col-sm-1">Codigo</th>
              <th class="col-sm-3">Area</th>
              <th class="col-sm-3">Equipo</th>
              <th class="col-sm-1 text-center">Reportada</th>
              <th class="col-sm-1 text-center">Prioridad</th>
              <th class="col-sm-1 text-center">Ejecutada</th>
              <th class="col-sm-1 text-center">Culminada</th>
              <th class="col-sm-1">Campaña</th>
              <th class="col-sm-1">Cod.Vale</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
           {%for ordensw in ordensw%}
            {% if ordensw.culminada == "No"%} 
             <tr class="table-primary">
            {%else%}
             <tr>
            {%endif%}     
             <td>{{ordensw.codigo}}</td>
             <td>{{ordensw.area}}</td>
             <td>{{ordensw.equipo}}</td>
             <td class="col-sm-2 text-center">{{ordensw.fechaRep}}</td>
             <td class="col-sm-1 text-center">{{ordensw.prioridad}}</td>
             <td class="col-sm-2 text-center">{{ordensw.fechaEje}}</td>
             <td class="col-sm-2 text-center">{{ordensw.culminada}}</td>
             <td class="col-sm-2 text-center">{{ordensw.campa}}</td>
             <td class="text-center"><a href="/codmaterialorden/{{ordensw.valecodigo}}/{{listpsw.number}}/0">{{ordensw.valecodigo}}</a></td>
             <td class="text-center"><a href="/ordenimpres/{{ordensw.id}}" button type="button" class="btn btn-primary btn-sm"><i class="bi bi-printer"></i></a></td>
             <td class="text-center"><a href="/ordenesnew/edit/{{ordensw.id}}/{{listpsw.number}}" button type="button" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></a></td>
             <td class="text-center"><a href="/ordenesdel/{{ordensw.id}}/{{listpsw.number}}" button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a></td>
            </tr>
           {%endfor%}
          </tbody>
        </table>
    </div>
    
  </div>
</div>
</div>
</div>
</body>


</html>